body {
    overflow: hidden;
}
#banner {
    margin: 0;
    position: absolute;
    top: 0em;
    left: 0em;
    right: 0em;
    border-bottom: 1px solid black;
    background: burlywood;
}
#buttons {
    margin: 0;
    position: absolute;
    top: 1.2em;
    left: 0em;
    right: 0em;
    border: 1px groove grey;
    background: lightgrey;
}
#tabs {
    margin: 0;
    position: absolute;
    top: 1.2em;
    bottom: 0.5em;
    left: 0em;
    right: 0em;
}
#editor {
    margin: 0;
    position: absolute;
    top: 5em;
    bottom: 0.5em;
    left: 0.5em;
    right: 20.5em;
}
